# fly.toml app configuration file generated for pdf-service-withered-star-4195 on 2025-12-20T18:43:01+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pdf-service-withered-star-4195'
primary_region = 'fra'

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = "2048mb"
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 2048
